@import url("https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,300;0,400;0,500;1,400&display=swap");
a {
  color: white;
  text-decoration: none;
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

#side-nav-container {
  width: 20vw;
  background: #1E1E1E;
  position: fixed;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 10px;
  gap: 2vh;
}

.close-btn {
  color: white;
  position: absolute;
  top: 5px;
  left: 20vw;
  cursor: pointer;
  font-size: 15px;
}

.section-title {
  padding-bottom: 3px;
  font-size: 15px;
  -webkit-box-flex: 1.1;
      -ms-flex: 1.1;
          flex: 1.1;
  height: 10vh;
  font-size: 18px;
}

.creative {
  gap: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 18vh;
  padding: 10px;
  font-size: 12px;
  color: white;
  gap: 1vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 25px;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  padding-top: 4px;
  -webkit-transition: all, 300ms, ease-in;
  transition: all, 300ms, ease-in;
}

.creative span {
  line-height: 25px;
  font-size: 14px;
  text-align: left;
}

.creative a {
  text-align: left;
  color: white;
}

.creative .work-list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.creative-none {
  display: none;
}

.applied {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 18vh;
  padding: 10px;
  font-size: 12px;
  color: white;
  gap: 1vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  line-height: 25px;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.applied span {
  line-height: 25px;
  font-size: 14px;
  -webkit-transition: color, 0.2,  ease-in-out;
  transition: color, 0.2,  ease-in-out;
}

.applied span:hover {
  color: #aae4b7;
}

.applied .cicrle-box {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.cicrle-box {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.cicrle-box .cicrle {
  width: 18px;
  height: 15px;
  border-radius: 50%;
  background: #fdfdfd;
  line-height: 15px;
}

.cicrle-box-up {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.cicrle-box-up .cicrle {
  width: 18px;
  height: 15px;
  border-radius: 50%;
  background: #9e0707;
  line-height: 15px;
}

.work-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
}

.work-list span {
  line-height: 25px;
  font-size: 13px;
  -webkit-transition: color, 0.2,  ease-in-out;
  transition: color, 0.2,  ease-in-out;
}

.work-list span:hover {
  color: #aae4b7;
}

.about {
  padding: 15px 5px 5px 5px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 19vh;
  height: 5vh;
}

.about .ab-btn {
  height: auto;
  padding: 10px;
  width: 80%;
  background-color: #fdfdfd;
  font-weight: bold;
  background-image: url("../assets/profil.png");
  background-position: center;
  background-position-x: 42%;
  background-position-y: 49%;
  -webkit-transition: all, 0,4s, ease-in;
  transition: all, 0,4s, ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .ab-btn a {
  color: #f6f6f6;
  text-align: center;
}

.about .ab-btn:hover {
  -webkit-filter: invert(80%);
          filter: invert(80%);
}

.about .ab-btn:hover a {
  color: white;
}

.about span {
  font-size: 14px;
  text-transform: uppercase;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1vh;
}

.contact span {
  font-size: 12px;
}

.contact .contact-title {
  font-size: 14px;
  text-align: center;
  color: white;
}

.contact .email {
  font-size: 13px;
  text-transform: none;
}

.contact .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact .icons .iconify {
  height: 20px;
  width: 30px;
}

.contact .icons .beha {
  height: 22px;
}

.up-cicrle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 25vw;
  height: 45vh;
  left: 5%;
  top: 5%;
  border-radius: 50%;
  background: #fdfdfd;
}

.down-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 25vw;
  height: 45vh;
  left: 5%;
  top: 55%;
  border-radius: 50%;
  background: #fdfdfd;
}

.down-circle .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=side-nav.css.map */