@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;1,300&display=swap');
#App {
height: auto;

display: flex;
 font-family: 'Red Hat Display', sans-serif;
}

.side-nav{
  flex: 0.3;
  box-sizing: content-box;
}
.main{
  height: auto;
  width: 167%;
  flex: 1;
}
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  // MIXINS 

@mixin titles($color){
  font-size: 8rem;
  font-weight: 200;
}